 .backGround{
    background-color: rgb(7, 7, 7);
    background-image: url();
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}
.username{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 50%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 5%;
    border-radius: 30PX;
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_2t/17555.png
    );
    background-position: center;
    background-size: cover;
}
#password{
    margin-bottom: 10%;
    height: 9%;
    width: 45%;
}

#user{
    margin-bottom: 10%;
    height: 9%;
    width: 45%;
}

.bot{
    size: 30%;
    height: 10%;
    width: 40%;
    background-color: green;
}

  
  .backround{
    background-color: rgb(214, 146, 0);
    height: 100vh;
    width:  100vw;
    display: flex;
    justify-content:center;
    align-items:center;
}
.ak{
    width: 5%;
    border: 5px solid black;
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: (rgb(255, 250, 250));
    background-image: linear-gradient(gray);
}
.logo{
    width: 100px;
}
.karthi{
    display: flex;
     height: 100px;
    width: 100px;
    justify-content: center;
}
.navbar {
        display: flex;
        justify-content: space-between;
        background-color: #5898bd;
        padding: 50px;
        color: rgb(0, 0, 0);
      }
.search-bar{
  width: 25vw;
 height: 5vh;
 margin-top: 50PX;
 border-radius: 30PX}
.nav-links{
    display: flex;
    justify-content: right;
    align-items: self-end;
    flex-direction: column;
    padding: 20px; 
    
    
}

.k{
    margin-right: 40px;
}

.a{
    margin-right: 40px;
}
.r{
    margin-right: 40px;
} 
.card{
    display: flex;
    align-items: center;
    flex-direction: column;

    /* box-shadow: 4px ; */
    width: 300px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;




}
#cards{
margin-left: 40px;
margin-top: 20px;
flex-direction: row;
display: flex;
justify-content: space-evenly;
align-items: center;


}
.image3{
 height: 190px;
 width: 160px;
 padding: 45px;
}
#colors{
    display: flex;
    
}
.c1{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    /* background-color: rgb(18, 50, 99); */
    margin: 5px;}
    
       
        .c2{
            width: 25px;
            height: 25px;
            border: 1px solid black;
            border-radius: 50%;
            /* background-color: rgb(48, 13, 112);  */
            margin: 5px;
        }
        .c3{
            width: 25px;
            height: 25px;
            border: 1px solid black;
            border-radius: 50%;
            /* background-color: rgb(109, 21, 104); */
            margin: 5px;
        }